{% extends "basetemplate.html" %}

{% block title %}
Startsidan
{% endblock %}


{% block content %}

<div class="card">
    <div class="card-header">
        <h1>Kort för {{ person.namn }}</h1>
    </div>
    <div class="card-body">
        <table class="table" id="posts-table">
            <tr>
                <th>Typ
                </th>
                <th>Kortnummer
                </th>
                <th>Datum
                </th>
            </tr>
            {% for theCard in  cards%}                    
                <tr>
                    <td>{{ theCard.cardtype }}</td>
                    <td>{{ theCard.number }}</td>
                    <td>{{ theCard.Datum }}</td>
                </tr>
            {% endfor %}
        </table>
        


            <a class="btn" href="javascript:fetchMore();">Show 5 more</a>

    </div>
</div>



<script>
    pageNo = 2;
    function fetchMore(){
        url = "/api/{{ person.id }}/cards?page=" + pageNo;
        fetch(url)
            .then((response)=>response.json())            
            .then((json)=>{
                pageNo = pageNo + 1;
                json.forEach(tableElement);
            });
        
    }
    function tableElement(element) {
            document.querySelector('#posts-table tbody').innerHTML +=
                `<tr>
        <td>${element.cardtype}</td>
        <td>${element.number}</td>
        <td>${element.datum}</td>
    </tr>`;
        }

</script>


{% endblock %}

